/* EXTRA ABOUT */
.EXABOUT{
  display: grid; 
  border-radius:20px; 
  padding: 2% 2% 3% 2%;
  overflow: hidden;
}
.EXABOUT-content{
  grid-area: EXABOUT-content; 
   display:flex;
  flex-direction: column;
}
#EXABOUT-info-ava{
  pointer-events: none;
  filter: grayscale();
  border-bottom: 2px #000000 solid;
}

.EXABOUT-info-contact{
   list-style-type: none;
}

.EXABOUT-info-contact li a{
    text-decoration: none;
  }


.EXABOUT-ability, .EXABOUT-experience , .EXABOUT-education{
  border-radius: 20px;
  border: 2px #000000 solid; 
  text-align: center;
  padding: 0 2% 2% 0;
}
        

.EXABOUT-identity{
      grid-area: EXABOUT-identity; 
}
.EXABOUT-ability{
      grid-area: EXABOUT-ability; 
}
.EXABOUT-experience{
  grid-area: EXABOUT-experience;

}
.EXABOUT-education{
  grid-area: EXABOUT-education;
}
.EXABOUT-button{
  grid-area: EXABOUT-button;
  justify-self:center;
}
.EXABOUT-button-symbol:hover{
  border-bottom: 2px black solid;
}


  .EXABOUT-experience:hover, .EXABOUT-ability:hover, .EXABOUT-education:hover{
      box-shadow: 2px 2px 20px gray;
      border: none; 
}
 .EXABOUT-title{
   font-weight: bold;
 }
@media only screen and (min-width:220px){

  /* EXTRA ABOUT */
.EXABOUT{
  background-color: #ffffff;
  color: #000000; 
  grid-template-areas: "EXABOUT-content       EXABOUT-identity    EXABOUT-identity   "
                        "EXABOUT-content      EXABOUT-ability     EXABOUT-ability"
                        "EXABOUT-content      EXABOUT-experience  EXABOUT-education"
                        "EXABOUT-button        EXABOUT-button       EXABOUT-button";
 grid-gap: 2%; 
 align-items: center;
}
.EXABOUT-content{
     font-size: 0px;
    
}
.EXABOUT-info-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EXABOUT-info-contact li a{
    color: #000000; 
  }

.EXABOUT-ability, .EXABOUT-experience , .EXABOUT-education{
  font-size: 10px; 
}
.EXABOUT-identity{
      font-size: 10px;
}
#EXABOUT-info-ava{
  height: auto;  
  width:0; 
 }
 .EXABOUT-info-contact li:hover{
    transform: translate(40px, 0px);
  }
}

@media only screen and (min-width:538px) {


  .EXABOUT-info-contact{
    font-size: 12px;
  }
  .EXABOUT-identity{
    font-size: 20px;
  }
  .EXABOUT-ability, .EXABOUT-experience, .EXABOUT-education{
    font-size: 15px;
  }
  #EXABOUT-info-ava{
  height: auto;  
  width: 120px; 
 }
}
@media only screen and (min-width:900px){
 .EXABOUT-info-contact{
    font-size: 12px;
  }
  .EXABOUT-identity, .EXABOUT-ability, .EXABOUT-experience, .EXABOUT-education{
    font-size: 20px;
  }
  #EXABOUT-info-ava{
  height: auto;  
  width: 200px; 
 }

}
@media only screen and (min-width:1208px){
.EXABOUT-info-contact{
    font-size: 19px;
  }
  .EXABOUT-identity, .EXABOUT-ability, .EXABOUT-experience, .EXABOUT-education{
    font-size: 20px;
  }
  #EXABOUT-info-ava{
  height: auto;  
  width: 300px; 
 }
}



