.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* Skill Page */

.SKILL{
 background-image: linear-gradient(90deg, #202226 50%, black 50%);
 display: grid;
 grid-template-columns: 50% 50%;
 justify-items: center;
align-items: center;
 
}

.SKILL-half-left{
 font-size: 70px;
 -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.SKILL-half-left ul, .SKILL-half-right ul{
  list-style: none;
  letter-spacing: 3px;
}
.SKILL-half-left ul li, .SKILL-half-right ul li{
  margin-bottom: 50px;
}
.SKILL-half-left ul li:hover{
  color: white;
  border-bottom: 2px white solid;
  transition: all 1s  ease-in-out;
}

.SKILL-half-left-title{
  color: white; 
}
.SKILL-half-left-nav{
 font-size: 40px;
color: gray;
}
.SKILL-half-right{
  color: white;
}

#SKILL-half-right-logo{
  width: 200px;
  opacity: 0.2;
}


@media only screen and (max-width: 600px){
  /* SKILL */
/* Skill Page */
.SKILL{
 background-image: linear-gradient(90deg, #202226 50%, black 50%);
 justify-items: center;
 align-items: center;
}

.SKILL-half-left{
 font-size: 50px;
 -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.SKILL-half-left ul, .SKILL-half-right ul{
  list-style: none;
  letter-spacing: 3px;
}
.SKILL-half-left ul li, .SKILL-half-right ul li{
  margin-bottom: 20px;
}
.SKILL-half-left ul li:hover{
  color: white;
  border-bottom: 2px white solid;
  transition: all 1s  ease-in-out;
}

.SKILL-half-left-title{
  color: white; 
}
.SKILL-half-left-nav{
 font-size: 25px;
color: gray;
}
.SKILL-half-right{
  color: white;
}
#SKILL-half-right-logo{
  width: 200px;
  opacity: 0.2;
}

}